@import 'variables.scss';
.btn {
    height: 46px;
    font-size: 20px;
    border-radius: 12px;
    letter-spacing: 2px;
    padding: 6px 15px;
    width: 190px;
    font-family: 'Passion One', cursive;
    font-weight: 400;
    text-transform: uppercase;
  }
  
  .btn-primary {
    background: $primary;
    border-color: $primary;
    color: #fff;
  }
  
  .btn-outline-primary {
    background: transparent;
    border-color: $primary;
    color: #fff;
  }