@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap');


html , body , #root{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;

}


@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css');

@import 'bootstrap/dist/css/bootstrap.min.css';
@import '../public/assets/styles/_buttons'


